<div class="dashbox">
  <h3>Differential Coverage </h3>
  <p>
    <span class="big">
       <%= format_measure('differential_coverage') -%>% <%= trend_icon(measure('differential_coverage')) %>
    </span>
  </p>
   <p>
    <%= format_measure('files', :suffix => ' files', :url => url_for_drilldown('files')) -%>
  </p>
  <p>
    <%= format_measure('differential_coverage', :suffix => ' differential coverage', :url => url_for_drilldown('differential_coverage')) -%>
  </p>
</div>